<div class="{{catalog?.path}}-wrap">
  <div class="blog-list_i clearfix">

    <div *ngFor="let list of articles" class="row clearfix">
      <a *ngFor="let article of list;let i = index" [routerLink]="['/article',article.id]" class="item detect-inview">
        <div class="title">{{article.title}}</div>
        <div class="img">
          <img src="/assets/img/news/squarewheel-thmb.jpg" alt="read more"/>
          <strong><b>{{i}}.</b><span>Read more</span></strong>
          <span class="bt"></span>
          <span class="bb"></span>
          <span class="br"></span>
          <span class="bl"></span>
        </div>

        <div class="text">
          {{article.description}}
        </div>
      </a>
    </div>

  </div>

</div>
