<div class="page-position-controls right" style="display: block">
  <ul>
    <li class="action-close">
      <a href="#"><i class="icon-close-sm"></i><i class="icon-close-sm-hover hover"></i></a></li>
    <li class="action-right">
      <a href="#"><i class="icon-right"></i><i class="icon-right-hover hover"></i></a></li>
    <li class="action-left">
      <a href="#"><i class="icon-left"></i><i class="icon-left-hover hover"></i></a></li>
    <li class="action-resize">
      <a href="#"><i class="icon-resize"></i><i class="icon-resize-hover hover"></i></a></li>
  </ul>
</div>
