<div class="wrap" [ngClass]="{'menu-animated menu-open' : menuState}">
  <app-preloader></app-preloader>
  <app-menu></app-menu>
  <app-logo></app-logo>

  <div class="out">
    <app-overlay></app-overlay>
    <video autoplay loop class="home-video">
      <source src="/assets/video/demo.mp4" type="video/mp4">
      <source src="/assets/video/demo.webm" type="video/webm">
    </video>

    <app-help-menu></app-help-menu>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-imprint></app-imprint>
</div>
