<div (click)="imprint('close',$event)" class="imprint-close">
  <div class="imprint-close_i">
    <div class="imprint-close_ii">
      <div class="imprint-close__line-1"></div>
      <div class="imprint-close__line-2"></div>
      <div class="imprint-close__line-3"></div>
    </div>
  </div>
</div>

<div class="imprint">
  <div class="imprint-wrap">
    <div class="border-left"></div>
    <div class="border-right"></div>
    <div class="border-top"></div>
    <div class="border-bott"></div>
    <div class="imprint_i ">
      <div class="imprint_ii clearfix">
        <div class="col">
          <p>
            Adwyse & Co. GmbH & Co. KG<br/>
            Landsberger Str. 291<br/>
            D-80687 München
          </p>

          <p>
            Tel. +49 89 95476600<br/>
            E-Mail: hello@adwyse.de
          </p>

          <p>
            Registergericht: Amtsgericht München<br/>
            Registernummer: HRA 102666
          </p>

          <p>
            Persönlich haftende Gesellschafterin<br/>
            der Adwyse & Co. GmbH & Co. KG:
          </p>

          <p>
            MyCorp GmbH<br/>
            Geschäftsführer der MyCorp GmbH: Igor Suslov, Daniel Pasternak<br/>
            Registergericht: Amtsgericht München<br/>
            Registernummer: HRB 189960
          </p>

          <p>
            Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:<br/><br/>

            DE-276098088<br/><br/>

            Redaktionelle Verantwortung:<br/><br/>

            Igor Suslov, Landsberger Str. 291, 80687 München
          </p>
        </div>
        <div class="col">
          <p>
            Haftungshinweis:
          </p>

          <p>
            Für Verweise auf unseren Seiten möchten wir ausdrücklich betonen, dass wir keinerlei Einfluss auf den
            Linktext, die Gestaltung, evtl. Verletzungen geltender Rechte, auch Marken- und Titelrechte und die Inhalte
            der gelinkten Seiten haben. Wir distanzieren uns ausdrücklich von den Linkformulierungen, sowie von allen
            Inhalten aller Seiten auf die wir Verweise gesetzt haben und machen uns ihre Inhalte nicht zu eigen. Diese
            Erklärung gilt für alle auf unserer Website angebrachten Links und für alle Inhalte der Seiten, zu denen die
            bei uns angemeldeten Banner oder Links führen.
          </p>

          <p>
            Wir bemühen uns, möglichst genaue und zuverlässige Informationen auf unseren Webseiten zu veröffentlichen.
            Wir können jedoch keinerlei Gewähr für die Richtigkeit aller veröffentlichten Informationen leisten.
            Jegliche Haftung für den Fall von Irrtümern oder Auslassungen auf unseren Webseiten wird ausgeschlossen.
          </p>

          <p>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics
            verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der
            Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre
            Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA
            übertragen und dort gespeichert.
          </p>

          <p>
            Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
            Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der
            Internetnutzung verbundene Dienstleistungen zu erbringen.
          </p>

          <p>
            Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
            vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.
          </p>

          <p>
            Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können
            die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir
            weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser
            Website vollumfänglich nutzen können.
          </p>

          <p>
            Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch
            Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--imprint end-->
