<section #section class="home top-category wide">
  <div [ngClass]="{'stable' : stable}" class="wrap-border-left"></div>
  <div [ngClass]="{'stable' : stable}" class="wrap-border-right"></div>
  <div [ngClass]="{'stable' : stable}" class="wrap-border-top"></div>
  <div [ngClass]="{'stable' : stable}" class="wrap-border-bott"></div>

  <div class="section-wrap">
    <div class="home-carousel">
      <div class="home-carousel__list">

        <div class="item">
          <div class="title"><h2>ASPIRING INNOVATION</h2></div>
          <div class="text">
            <p>
              We do not simply make websites. <br/>We create
              digital experiences to make the web come alive.
            </p>
          </div>
          <div class="link">
            <div class="link_i">
              <a href="ajax/about.html" class="btn-gold center"><span>about us</span></a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="title"><h2>EXPERIENCE THE DESIGN</h2></div>
          <div class="text">
            <p>
              We pride ourselves in creating designs and concepts, <br/>
              which not only meet the eye but also touch the heart.
            </p>
          </div>
          <div class="link">
            <div class="link_i">
              <a href="ajax/case.html" class="btn-gold center"><span>Projects</span></a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="title"><h2>DIGITAL STORYTELLING</h2></div>
          <div class="text">
            <p>
              Everyone has a story to tell. And all good stories <br/>
              deserve embellishment. So let us tell yours.
            </p>
          </div>
          <div class="link">
            <div class="link_i">
              <a href="ajax/contactus.html" class="btn-gold center"><span>Contact</span></a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--home-carousel end-->

  </div>
</section>
