<section class="{{catalog?.path}} top-category wide animated animated-grey">
  <div class="page-position-controls">
    <ul>
      <li class="action-close"><a href="#"><i class="icon-close-sm"></i><i class="icon-close-sm-hover hover"></i></a>
      </li>
      <li class="action-right"><a href="#"><i class="icon-right"></i><i class="icon-right-hover hover"></i></a>
      </li>
      <li class="action-left"><a href="#"><i class="icon-left"></i><i class="icon-left-hover hover"></i></a></li>
      <li class="action-resize"><a href="#"><i class="icon-resize"></i><i class="icon-resize-hover hover"></i></a>
      </li>
    </ul>
  </div>
  <div class="section-wrap">
    <div class="wrap-border-left stable"></div>
    <div class="wrap-border-right stable"></div>
    <div class="wrap-border-top stable"></div>
    <div class="wrap-border-bott stable"></div>
    <div class="section-wrap_i">
      <app-catalog-type-index *ngIf="type === 'index'" [catalog]="catalog"></app-catalog-type-index>
      <app-catalog-type-list *ngIf="type === 'list'" [catalog]="catalog"></app-catalog-type-list>
      <!--about-wrap end-->
      <a class="btn-top" href="#"><i class="icon-right"></i><i class="icon-right-hover hover"></i></a>
    </div>
  </div>
</section>
