/* You can add global styles to this file, and also import other style files */
app-root {
  position: absolute;
  width: 100%;
  min-height: 100%;
  [class^="wrap-border-"],
  [class*=" wrap-border-"],
  [class^="border-"],
  [class*=" border-"] {
    opacity: 0.1;
  }

  .nav-main {
    a {
      cursor: pointer;
    }
  }

}
