<div class="menu">
  <div class="menu_i">

    <nav #nav class="nav-main">
      <ul>
        <li>
          <a class="center-fixed active">
            <span class="center">主页</span>
            <span class="left">
              <span class="left-i"></span>
            </span>
            <span class="right">
              <span
                class="right-i"></span>
            </span>
          </a>
        </li>
        <li *ngFor="let catalog of catalogs">
          <a (click)="menu(catalog,$event)" class="center-fixed">
            <span class="center">{{catalog.name}}</span>
            <span class="left">
              <span class="left-i"></span>
            </span>
            <span class="right">
              <span
                class="right-i"></span>
            </span>
          </a>
        </li>
      </ul>
      <div class="nav-main__social clearfix">
        <a class="icon-fb" target="blank" href="http://on.fb.me/1HNEUdI"></a>
        <a class="icon-tw" target="blank" href="http://bit.ly/1Iiu64n"></a>


      </div>
      <a (click)="imprint('open',$event)" href="javascript:;" class="btn-imprint">企业大记事</a>

      <div [ngClass]="{'open':subscribeShow,'subscribe_error':msg.show}" class="subscribe">
        <a (click)="subscribe($event)" href="javascript:;" class="title">邮件订阅</a>

        <div class="subscribe__form clearfix">
          <form (submit)="submit($event)" method="post">
            <input (focus)="focus = true" (blur)="focus = false;"
              type="text" class="subscribe__form__email {{focus ? 'focus':''}}" placeholder="请输入您的邮箱地址"/>
            <a (click)="submit($event)" href="javascript:;" class="subscribe__submit"></a>
            <input type="submit" value=""/>
          </form>
        </div>
        <div (click)="msg.show = false" class="subscribe__message" title="">{{msg.content}}</div>
      </div>
    </nav>

    <div class="menu__top-part"></div>
    <div class="menu__bott-part"></div>

    <div class="border-left"></div>
    <div class="border-right"></div>
    <div class="border-top"></div>
    <div class="border-bott"></div>
  </div>
</div>
<!--menu end-->

<div (click)="toggle()" class="btn-menu active">
  <div class="btn-menu_i">
    <div class="btn-menu_ii">
      <div class="btn-menu__line-1"></div>
      <div class="btn-menu__line-2"></div>
      <div class="btn-menu__line-3"></div>
    </div>
  </div>
</div>
